@charset "utf-8";
/* CSS Document */

#navigation-main .slide-container
{
	width:800px;
}

.reviews-list li
{
	border-bottom:none;
	margin:0 0 20px;
	padding:0 0 20px;
}

#networks ul
{
	width:455px;
}

