/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  iGeekify
*   Date:    06 December 2011
*   Web:     http://work.igeekify.com
*   Email:   info@igeekify.com
*   Version: 1.0
* 
*************************************************************************/


/*-----------------------------------------------------------------------
Reset
------------------------------------------------------------------------*/

*
{ 
	margin:0; 
	padding:0; 
} 

html, body
{
	height:100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,input, textarea, button 
{
    background:transparent;
    border:0;
    font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	list-style:none;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary 
{ 
    display:block;
}

nav ul 
{
    list-style:none;
}

blockquote, q 
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content:'';
    content:none;
}

a 
{
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

ins 
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark 
{
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del 
{
    text-decoration: line-through;
}

abbr[title], dfn[title] 
{
    border-bottom:1px dotted #000;
    cursor:help;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

hr 
{
    border:0;   
    border-top:1px solid #cccccc;
    display:block;
    height:1px;
    margin:1em 0;
    padding:0;
}

input, select 
{
    vertical-align:middle;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

.float-left
{
	float:left;
}

.float-right
{
	float:right;	
}

.circle 
{
	-webkit-border-radius: 335px; /* Safari, Chrome */
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(function/PIE.htc);
}

.clear
{
	clear:both;	
}

.overflow-text
{
	display:block;
	height:34px;
	overflow:hidden;
}

.block
{
	display:block;
}

#hidden-update,
.none
{
	display:none;
	visibility:hidden;
	position:absolute;
	text-indent:-9999px;
}

/*-----------------------------------------------------------------------
Containers
------------------------------------------------------------------------*/

.wrapper
{
	margin:0 auto;
	position:relative;
	width:980px;
}

#frame-header
{
	height:87px;
	padding:20px 0 0;
	position:relative;
}

#frame-navigation
{
	position:relative;
	z-index:999999;
}

#frame-content
{
	padding:45px 0 0;
}

#frame-footer 
{
	clear:both;
	height:150px;
	margin-top:-150px;
	position: relative;
	width:100%;
} 

/*-----------------------------------------------------------------------
Cufon Fix
------------------------------------------------------------------------*/

.cufon-loading h1,.cufon-loading h2,.cufon-loading h3,.cufon-loading h4,.cufon-loading li,.cufon-loading a
{
  visibility: hidden !important;
}

/*-----------------------------------------------------------------------
Global
------------------------------------------------------------------------*/

body
{
	background:url(../images/background-grid.gif) repeat;
}

html, 
body, 
#site 
{ 
	height: 100%;
}

body > #site 
{
	height:auto;
	min-height: 100%;
}

body#subpage > #site
{
	background:url(../images/background-subpage.gif) center repeat-y;
}

#left-column
{
	float:left;
	margin:0 20px 20px 0;
	width:665px;
}

#sidebar
{
	float:right;
	margin:0 0 50px;
	width:260px;
}

#other-products
{
	background:url(../images/sprite-solid.jpg) no-repeat -1236px 0;
	height:475px;
	margin:0 0 20px;
	padding:20px;
	width:230px;
}

#other-products .product-image
{
	float:left;
	width:133px;
}

#other-products .product-details
{
	float:right;
	width:85px;
}

#other-products .title
{
	margin:0 0 10px;
	text-align:center;
}

#other-products h2
{
	border-bottom:2px solid #1c1b19;
	color:#1c1b19;
	display:inline;
}

#other-products h2 .akzidenz
{
	font-size:32px;
	text-transform:uppercase;
}

#other-products h2 .hoefler
{
	font-size:31px;
	font-weight:normal;
}

#other-products .product-details h3
{
	color:#1c1b19;
	font-size:20px;
	line-height:18px;
	margin:7px 0 0;
	text-transform:uppercase;
}

#shopp #product-details h4
{
	color:#E01781;
	clear:both;
	float:left;
	font-size:25px;
	margin:0 0 20px;
	font-weight:normal;
	font-style:italic;
	width:280px;
}

#shopp #product-details .quantity
{
	float:left;
}

#shopp #product-details .variations
{
	float:left;
	margin:10px 0;
}

#shopp #product-details .variations select
{
	width:165px !important;
}

#shopp #product-details h4.original
{
	clear:both;
	color:#000000;
	margin:0;
}

#shopp #product-details h4.sale
{
	clear:both;
	width:250px;
}

#other-products .product-details h3 a
{
	color:#1c1b19;
}

#other-products .product-details h4
{
	color:#1c1b19;
	font-size:18px;
	line-height:18px;
	text-transform:lowercase;
}

#other-products .product-details h5
{
	border-bottom:1px solid #E01881;
    color: #E01781;
    float: left;
    font-style: italic;
    font-weight: normal;
	display:inline;
	margin:5px 0 0;
	font-size:20px;
}

#shopp #subpage-container #left-column #product-details p
{
	color:#E01881;
	margin:0 0 20px;
	padding:0;	
}

#other-products .sideproduct
{
	margin:0;	
}

.which-wax
{
	margin:0 auto;
	width:200px;
}

.which-wax .button-rect-purple
{
	margin:0 0 0 28px;
}

.which-image a
{
	background:url(../images/sprite-solid.jpg) no-repeat -317px 0;
	display:block;
	height:220px;
	margin:0 0 20px;
	text-indent:-9999px;
	width:200px;	
}

/*--Header--------------------------------------------------------------*/

#logo-waxxxpress a
{
	background:url(../images/sprite-transparent.png) no-repeat -662px -645px;
	display:block;
	height:75px;
	text-indent:-9999px;
	width:234px;
}

/*--Breadcrumbs---------------------------------------------------------*/

#breadcrumbs
{
	background:#1c1b19;
	float:left;
	height:30px;
	left:-35px;
	line-height:30px;
	position:relative;
	top:11px;
	width:auto;
}

#breadcrumbs .breadcrumb,
#breadcrumb-list
{
	background:#e01881;
    height: 30px;
    left: -4px;
	padding:0 80px 0 52px;
    position: relative;
    top: -4px;
}

#breadcrumbs .breadcrumb li,
#breadcrumb-list li
{
	color:#ffffff;
	float:left;
	font-size:20px;
	font-weight:normal;
	margin:0 5px 0 0;
	text-transform:uppercase;
}

#breadcrumbs .breadcrumb li a,
#breadcrumb-list li a
{
	color:#ffffff;
	text-decoration:none;
}

#breadcrumbs .breadcrumb li a:hover,
#breadcrumb-list li a:hover
{
	color:#1c1b19;
}

/*--Footer--------------------------------------------------------------*/

#sticky-footer 
{ 
	padding-bottom: 150px; 
}

.clearfix:after 
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix 
{
	display: inline-block;
}

* html .clearfix 
{ 
	height: 1%;
}

.clearfix 
{
	display: block;
}

#networks
{
    background:#1c1b19;
	position:absolute;
	right:0;
	top:-22px;
}

#networks ul
{
	background:#f4e2ec;
	border:5px solid #be0074;
	height:69px;
	left:-5px;
	position:relative;
	top:-5px;
	width:438px;
}

#networks li
{
	float:left;
}

#networks li.button-signup
{
	font-size:17px;
	margin:16px 15px 0 18px;
}

.button-signup .form-button
{
	position:relative;
	top:3px;
}

#networks li.button-facebook
{
	margin:8px 15px 0 0;
}

#networks li.button-twitter
{
	margin:8px 0 0 0;
}

#networks li a
{
	display:block;
}

#networks li.button-facebook a
{
	background:url(../images/sprite-solid.jpg);
	background-position:0 -250px;
	height:60px;
	text-indent:-9999px;
	width:60px;
}

#networks li.button-facebook a:hover
{
	background-position:-123px -250px;
}

#networks li.button-twitter a
{
	background:url(../images/sprite-solid.jpg);
	background-position:-61px -250px;
	height:60px;
	text-indent:-9999px;
	width:60px;
}

#networks li.button-twitter a:hover
{
	background-position:-183px -250px;
}


#frame-copyright 
{
	margin-top:60px;
}

#frame-copyright p
{
	font-size:10px;
}

#frame-copyright p a
{
	color:#161312;
	text-decoration:none;
}

/*-----------------------------------------------------------------------
Homepage
------------------------------------------------------------------------*/

/*--Splash--------------------------------------------------------------*/

#splash
{
	background:#E01881;
    height:670px;
	position:relative;
	left:-100px;
    width:670px;
	z-index:2;
}

#nav
{
	bottom:29px;
	left:315px;
	position:absolute;
	z-index:999;
}

#nav a
{
	background:url(../images/pagination.gif) no-repeat 0 0;
	float:left;
	margin:0 7px 0 0;
	display:block;
	height:10px;
	text-decoration:none;
	text-indent:-9999px;
	width:10px;
}

#nav a.activeSlide
{
	background-position:-10px 0;	
}

#splash ul
{
    background:#161412;
	display:block;
    height:670px;
	left:-10px;
	position:absolute;
	top:0px;
    width:670px;
	z-index:10;
}

#splash li
{
    height:670px;
    width:670px;
}

#splash .splash-copy
{
	margin:0 auto;
	padding:190px 0 0;
	text-align:center;
	width:493px;
}

#splash .plane
{
	background:url(../images/splash-one-bg.png) 40px 10px no-repeat;	
}


#splash .splash-copy .button-rect-white
{
	float:none;
	width:160px;
}

#splash p
{
	color:#ffffff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:20px;
	letter-spacing:1px;
	line-height:25px;
	margin:10px auto 20px;
	text-align:center;
}

#splash h1
{
	color:#ffffff;
	text-align:center;
}

#splash .nouvelle
{
    display: block;
    font-size: 80px;
    height: 77px;
    overflow: hidden;
}

#splash .akzidenz
{
	border-bottom:3px solid #ffffff;
    font-size: 93px;
    font-weight: normal;
    height: 100px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

#splash .hoefler
{
	display:block;
	font-size:83px;
	font-style:italic;
	line-height:85px;
}

/*--Splash One--*/


#splash .plane .hoefler
{
	color:#00A298;
}

#splash .plane p
{
	font-size:17px;
	line-height:21px;
	margin:10px auto;
}

#splash .plane .button-rect-white
{
	background:#ffffff;
	font-size:28px;
	height:50px;
	line-height:50px;
	margin:30px auto;
	text-transform:uppercase;
}

#splash .plane .button-rect-white:hover
{
	background:#5BA197;
}

#splash .plane .button-rect-white a
{
	background:#00A298;
	color:#ffffff;
	display:block;
	height:50px;
	left:-3px;
	line-height:50px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

#splash .plane .button-rect-white:hover a
{
	background:#ffffff;
	color:#00A298;
}

/*--Splash Two--*/

#splash .off .splash-copy
{
	padding:80px 0 0;
}

#splash .off .akzidenz
{
	border-bottom:8px solid #ffffff;
    font-size: 132px;
    font-weight: normal;
    height: 130px;
	margin:0 0 5px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

#splash .off .hoefler
{
	color:#B80074;
}

#splash .off .button-rect-white
{
	background:#ffffff;
	font-size:28px;
	height:50px;
	line-height:50px;
	margin:30px auto;
	text-transform:uppercase;
}

#splash .off .button-rect-white:hover
{
	background:#B80074;
}

#splash .off p
{
	font-size:18px;
}

#splash .off .button-rect-white a
{
	background:#B80074;
	color:#ffffff;
	display:block;
	height:50px;
	left:-3px;
	line-height:50px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

#splash .off .button-rect-white:hover a
{
	background:#ffffff;
	color:#B80074;
}

/*--Splash Sale--*/

#splash .sale
{
	background:url("../images/splash-sale-bg.png") no-repeat scroll 75px 60px transparent;	
}

#splash .sale p
{
	font-size: 18px;
    line-height: 21px;
    margin: 210px auto 20px;
}

#splash .sale .button-rect-white
{
	background:#ffffff;
	font-size:28px;
	height:50px;
	line-height:50px;
	margin:30px auto;
	text-transform:uppercase;
}

#splash .sale .button-rect-white:hover
{
	background:#e01881;
}

#splash .sale .button-rect-white a
{
	background:#e01881;
	color:#ffffff;
	display:block;
	height:50px;
	left:-3px;
	line-height:50px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

#splash .sale .button-rect-white:hover a
{
	background:#ffffff;
	color:#e01881;
}




/*--Animations----------------------------------------------------------*/

#animation-koala
{
	background:url(../images/sprite-transparent.png) 0 0;
	height:359px;
	position:absolute;
	top:100px;
	left:100px;
	width:284px;
	z-index:1;
}

#animation-pointer 
{
	background:url(../images/sprite-transparent.png) -662px -359px no-repeat;
	height:265px;
	position:absolute;
	top:145px;
	left: 460px;
	z-index:1;
}

#animation-pointer #pointer-image
{
	background:url(../images/sprite-transparent.png) -670px -762px;
    float: left;
    height: 43px;
    margin: 0 10px 0 0;
    width: 311px;
    left: 124px;
    position: absolute;
    text-indent: -9999px;
    top: 122px;
}

#animation-pointer #pointer-cta
{
	padding:96px 0 0 283px;
	width:230px;
}

#pointer-cta .overflow-text
{
	color:#8F5C9D;
	height:42px;
}

#animation-pointer #pointer-cta h3
{
	color:#1c1b19;
	display:block;
	font-size:48px;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:35px;
	text-transform:uppercase;
}

#animation-pointer #pointer-cta .button-rect-purple
{
	margin:8px 0 0 5px;
}

#animation-salon
{
	background:url(../images/sprite-transparent.png) -286px 0;
	height:264px;
	left:452px;
	position:absolute;
	top:-264px;
	width:177px;
	z-index:1;
}

#animation-heart
{
	background:url(../images/sprite-transparent.png) -462px -44px;
	height:300px;
	right:-10px;
	position:absolute;
	top:-70px;
	width:336px;
	z-index:100;
}

#animation-heart .button-rect-green
{
	bottom: 75px;
	left: 117px;
	position:absolute;
}

#animation-television a
{
	background:url(../images/sprite-transparent.png) 0px -359px;
    bottom: 40px;
    height: 440px;
    position: absolute;
    right: 14px;
	width:330px;
	text-indent: -9999px;
	z-index:99;
}

#animation-television a:hover
{
	background-position:-333px -359px;
	cursor:pointer;
}

#animation-bridge
{
	background:url(../images/sprite-transparent.png) 0px -799px;
    bottom:157px;
    height:172px;
    position:absolute;
    right:50px;
	width:351px;
	z-index:50;
}


/*--Call to action-----------------------------------------------------*/

#homepage-cta
{
	padding:45px 0 30px;
	position:relative;
	z-index:200;
}

#homepage-cta h2
{
	color:#ffffff;
	font-size:38px;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:35px;
	padding:12px 0 0 13px;
	width:230px;
	text-transform:uppercase;
}

#cta-app
{
	background:url(../images/sprite-solid.jpg) 0 0;
	float:left;
	display:block;
	height:123px;
	margin:0 8px 0 0;
	position:relative;
	width:315px;
}

.text-blue
{
	color:#8cbac1;	
}

.text-white
{
	color:#ffffff;	
}

.text-black
{
	color:#1C1B19;	
}

#cta-app .button-rect-blue
{
	position:absolute;
	right:20px;
	top:78px;
}

#cta-hints
{
	background:url(../images/sprite-solid.jpg) 0 -123px;
	float:left;
	display:block;
	height:123px;
	position:relative;
	width:315px;
}

#cta-hints .button-rect-white
{
	position:absolute;
	right:15px;
	top:76px;
}

/*-----------------------------------------------------------------------
Subpage
------------------------------------------------------------------------*/

#subpage-container
{
	clear:both;
	padding:30px 10px 0;
}

#subpage-container-goodbuys
{
	background:url(../images/background-goodbuys-one.gif) 0 60px no-repeat;
	height:500px;
	padding:100px 0 0;
	width:100%;
}

#subpage-container #left-column h1
{
	color:#1c1b19;
	font-size:46px;
	text-transform:uppercase;
}

#subpage-container #left-column h1 .cufon
{
	border-bottom:2px solid #000;
}

#subpage-container #left-column h2
{
	color:#E01881;
	float:left;
	font-size:38px;
	margin:0 0 30px;
	text-transform:lowercase;
}

#subpage-container #left-column h2.link
{
	border-bottom:2px solid #e01881;
	color:#e01881;
	font-size:28px;
	margin:10px 0;
}

#subpage-container #left-column h2 a
{
	color:#e01881;
	text-decoration:none;
}

#subpage-container #left-column h2 a:hover
{
	border-bottom:2px solid #000;
	color:#1c1b19;
}

#subpage-container #left-column .login-check h2 a
{
	color:#1c1b19;
}

#subpage-container #left-column p,
.wpcr_fl
{
	clear:both;
	color:#757575;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	line-height:18px;
	padding:10px 0 0;
}

#subpage-container #left-column .content li
{
	list-style:disc;
	list-style-position:inside;
	clear:both;
	color:#757575;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	line-height:18px;
	padding:10px 0;
}

#subpage-container #left-column .content
{
	width:600px;	
}

#subpage-container #left-column span.small
{
	font-size:11px;
}

#subpage-container #left-column h2 a
{
	color:#e01881;
	text-decoration:none;
}

#subpage-container #left-column a
{
	color:#e01881;
}

#subpage-container #left-column a:hover
{
	text-decoration:none;
}

#subpage-container #left-column .row
{
	padding:10px 0;
}

#product-content iframe
{
	overflow:hidden;
	width:100%;
}

/*--sidebars--*/

#sidebar-shop a
{
	background:url(../images/sprite-solid.jpg) -1512px -16px no-repeat;
	display:block;
	height:339px;
	text-indent:-9999px;
	width:249px;
}

#sidebar-watch a
{
	background:url(../images/sprite-solid.jpg) 0 -450px no-repeat;
	display:block;
	height:366px;
	text-indent:-9999px;
	width:259px;
}

#sidebar-watch a:hover
{
	background-position:-260px -450px;
}

.sidebar-blog-image
{
	background:url(../images/sprite-solid.jpg) -518px -450px no-repeat;
	display:block;
	height:366px;
	width:249px;
}

#sidebar-blog .button-rect-lightblue
{
	margin:0 0 0 78px;
}

#sidebar-101 a
{
	background:url(../images/sprite-solid.jpg) -768px 0 ;
	display:block;
	height:317px;
	text-indent:-9999px;
	width:353px;
}

/*--FAQs--*/

#faq-links 
{
	border-bottom:1px dashed #c8c8c8;
	margin:0 0 30px;
	padding:0 0 20px;
}

#faq-links h3,
#faq-sections h3
{
	color:#1c1b19;
	text-transform:uppercase;
	margin:20px 0 10px;
	font-size:22px;
}

#faq-links li
{
    background: url("../images/sprite-solid.jpg") no-repeat scroll -778px -458px transparent;
    color: #E01881;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
	list-style:none !important;
    padding: 9px 0 0 30px !important;
	width:420px;
}

#faq-links li a
{
	text-decoration:none;
}

#faq-links li a:hover
{
	font-style:italic;
}

.faq-title
{
    background: url("../images/sprite-solid.jpg") no-repeat scroll -776px -791px transparent;
    color: #E01881;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 0 0 30px;
}

.faq-copy,
#subpage-container #left-column .faq-copy p
{
	font-size:12px;
}

#faq-sections li
{
	list-style:none !important;
	margin:0 0 30px;
}

/*-----------------------------------------------------------------------
View Page
------------------------------------------------------------------------*/

#product-view
{
	clear:both;
	padding:30px 10px 0;
}

.selectall
{
	border:1px solid #cccccc;
	color: #E01881;
	font-size: 14px;
	font-family: Courier;
	padding: 5px;
	width: 50px;
	margin: 0 0 0 20px;
}

/*--product view--*/

.product-zoom
{
	background:url(../images/sprite-solid.jpg)  -486px -246px;
	height:22px;
	margin:0 auto;
	width:184px;
}

#product-image
{
	margin:0 0 0 40px;
	width:292px;
}

/*--details--*/

#product-details
{
	width:291px;
}

#shopp  #product-details h1
{
	color:#1c1b19;
	font-size:46px;
	margin:0;
	text-transform:uppercase;
}

#product-details h1 .cufon
{
	border-bottom:2px solid #000;
}

#shopp  #product-details h2
{
	border-bottom:2px solid #000;
	color:#1c1b19 !important;
	float:left;
	font-size:38px;
	text-transform:lowercase;
}

#shopp #product-details h3
{
	border-bottom:1px solid #e01881;
	clear:both;
	color:#e01881;
	line-height:20px;
	float:left;
	font-size:22px;
	margin:0 0 10px;
}

#product-details p
{
	clear:both;
	color:#757575;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	line-height:18px;
	margin:10px 0;
}

#shopp #product-cart
{
	padding:5px 0 20px;
}

#shopp #product-cart label
{
	clear:none;
	float:left;
	font-size:20px;
	line-height:24px;
	width:80px;
	line-height:24px;
	padding:0 !important;
	text-transform:uppercase;
}

#shopp #product-cart select
{
	float:left;
	margin:0 10px;
	padding:5px;
	width:165px;
}

#shopp #product-cart select#quantity-11
{
	width:50px;	
}

#shopp #product-cart select#options-1
{
	width:80px;	
}

#shopp #product-cart .form-button
{
	clear:both;
	display:block;
	margin:27px 0 0;
}

.product-share
{
	clear:both;
	padding:27px 0 20px;
}

.product-share a
{
	background:url(../images/sprite-solid.jpg) no-repeat -382px -273px;
	display:block;
	height:37px;
	text-indent:-9999px;
	width:343px;
}

.product-share a:hover
{
	background-position:-382px -412px;
}

.return
{
	margin:20px 0 0;	
}

.password-forgot .form-button,
.account .form-button
{
	margin:10px 0 0 5px;	
}

.order-date,
.order-number,
.order-status,
.order-total
{
	font-size:20px;
	text-transform:uppercase;
	padding:0 0 5px;
}

#order-history td
{
	font-size:14px;
}

.order-date
{
	width:300px;	
}

.order-number
{
	width:80px;	
}

.order-status
{
	width:110px;	
}

.order-total
{
	width:70px;	
}

#shop-manage
{
	margin:20px 0 40px;	
}

#shopp #shop-manage li
{
	border-bottom:2px dotted #e01881;	
	margin:0 0 30px;
}

#shop-manage li a
{
	color:#E01881;
	font-size:24px;
	display:block;
	padding:0 0 10px;
	text-decoration:none;
	text-transform:uppercase;	
}

#shop-manage li a:hover
{
	color:#000000;	
}

.transaction
{
	margin:0 0 20px;	
}

.transaction th,
#billed-to h4,
.shipping h4
{
	padding:0 20px 0 0;
	text-transform:uppercase;
	font-size:24px;	
}

.transaction td
{
	font-size:14px;	
}

#billed-to
{
	font-size:14px;		
	margin:0 0 20px;	
}

/*--tabs--*/

#coda-nav-1
{
	margin:60px 0 70px;
}

#product-menu
{
	border-bottom:3px solid #1c1b19;
	float:left;
	width:100%;
}

#shopp #product-menu li
{
	border-right:3px solid #1c1b19;
	float:left;
	font-size:26px;
	font-weight:bold;
	margin:0 15px 0 0;
	padding:0 15px 0 0;
	text-transform:uppercase;
}

#shopp #product-menu li.end,
#navigation-main li li li:last-child
{
	border-bottom:1px solid #8d8d8c;
}



#product-menu li a
{
	color:#1c1b19 !important;
	text-decoration:none;
}

#product-menu li a:hover
{
	color:#e01881;
}

.coda-slider, .coda-slider .panel { width: 668px } 
.coda-slider .panel p {width:620px;}
.coda-slider .panel-wrapper { padding: 20px }
.coda-slider p.loading { padding: 20px; text-align: center }
.coda-slider { float: left; overflow: hidden; position: relative }
.coda-slider .panel { display: block; float: left }
.coda-slider .panel-container { position: relative }

/*--reviews--*/

#product-content h4
{
	color:#1c1b19;
	font-size:22px;
	text-transform:uppercase;
}

#product-content p strong
{
	color:#E11882;
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:10px 0 0;
	text-transform:uppercase
}

#product-content p
{
	color: #757575;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
	font-style:italic;
    line-height: 18px;
    margin:0 0 10px;
}

#shopp #product-content ol li
{
	background:url(../images/bullet.gif) 6px 8px no-repeat !important;
    color: #757575;
    font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
    padding: 0 0 0 20px;
	width:620px;
}

.reviews-overall
{
	border-bottom:2px dotted #e01881;
	clear:both;
	margin:0 0 20px;
	padding:20px 0;
}

.reviews-overall .button-rect-black
{
	margin:20px 0 0 5px;
}

.reviews-left
{
	float:left;
	margin:0 15px 0 0;
	width:170px;
}

.reviews-right
{
	float:left;
	width:480px;
}

.reviews-list li
{
	border-bottom:2px dotted #e01881;
	margin:0 0 20px;
	padding:0 0 20px;
}

.helpful
{
	margin:20px 0 0;;
}

.helpful-button
{
	margin:0 20px 0 0;
}

.stars-3half
{
	display:block;
	height:29px;
	text-indent:-9999px;
	width:100px;
}




.product-variations
{
	margin:20px auto;
	width:250px;
}

.product-variations li
{
	float:left;
	margin:0 20px 0 0;
}

.product-variations li.end
{
	margin:0;
}


/*-----------------------------------------------------------------------
Goodbuys
------------------------------------------------------------------------*/

.goodbuy-0
{
	padding:16px 5px 0;
}

#goodbuys li
{
	float:left;
	text-align:center;
	width:314px;
}

#goodbuys li .goodbuys-copy
{
	padding:0 41px;
	text-align:left;
}

#goodbuys li .goodbuys-copy h2
{
	color:#E01881;
	font-size:36px;
	font-weight:normal;
	text-transform:uppercase;
}

#goodbuys li .goodbuys-copy p
{
	color:#1C1B19;
	font-size:21px;
	font-weight:normal;
	text-transform:uppercase;
}

#goodbuys li .button-rect-pink
{
	margin:20px 0 0 70px;
}

#goodbuys li a
{
	text-align:center;
	width:100px;
}

#goodbuys .goodbuy-1
{
	margin:0 0 0 25px;
}

/*-----------------------------------------------------------------------
Category Page
------------------------------------------------------------------------*/

#categories
{
	position:relative;
}


.product-list
{
    border-top: 1px solid #DADADA;
	float:left;
    margin: 30px 0;
    padding: 30px 0 0;
    position: relative;
	width:100%;
}

#shopp .product-list li
{
	height:370px;
	float:left;
	margin:0 5px 0 0;
	position:relative;
}

#shopp .product-list li a.product-listing
{
	overflow: hidden; 
	display: block; 
	height: 260px;
}

#shopp .product-list li:nth-child(4)
{
	margin:0;
}

.product-list li a.product-listing
{
    text-align: center;
}

.product-list li img
{
	height: auto !important;
    margin: 0 auto;
    max-height: 240px;
    width: auto;
}

.product-list li .tell-more
{
    position: absolute;
    right: 0;
    top: 135px;
}

.product-list li .tell-more a
{
	background: url("../images/sprite-transparent.png") repeat scroll -492px -858px transparent;
    display: block;
    height: 101px;
    text-indent: -9999px;
    width: 96px;
}

.product-list li .tell-more a:hover
{
	background-position:-588px -858px;
}

.product-list li .title
{
	width:240px;
}

.product-list li .title h2
{
	color:#1c1b19;
	font-size:18px;
	height:18px;
	overflow:hidden;
	text-transform:uppercase;
	letter-spacing:1px;
}

.product-list li .title h3
{
	color:#E01881;
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:1px;
}

#categories h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

#categories
{
	clear:both;
    margin-top: 0;
    padding-top: 40px;
}

#categories h1,
#categories p
{
	color:000000;
}

#categories h1
{
	clear:both;
	margin:0 0 10px;
}

#categories .akzidenz,
#categories p
{
	font-size:24px;
	font-weight:bold;
}

.category-copy
{
	width:691px;
}

#categories h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	color:#E01881;
	display:block;
	font-size:52px;
}


/*--Catalog-

.catalog #catalog-ouioui{left:-7px;top:63px; z-index:2}
.catalog #catalog-ouioui .title{bottom: 4px; left: 25px;}
.catalog #catalog-ouioui .tell-more{left: 177px; top: 145px;}
.catalog #catalog-lucky{left: 317px; top: 50px; z-index: 1;}
.catalog #catalog-lucky .tell-more{left: 214px;top: 179px;}
.catalog #catalog-lucky .title{bottom: 282px;left: 42px;}
.catalog #catalog-strips{left: 622px; top: 37px;}
.catalog #catalog-strips .title{left: 151px;top: 410px;}
.catalog #catalog-strips .tell-more{left: 214px;top: 179px;}
.catalog #catalog-marks{left: 429px; top: 365px; z-index:2;}
.catalog #catalog-marks .title{bottom: 10px;left: 188px;}
.catalog #catalog-marks .tell-more{left: 125px;top: 81px;}

.catalog  #why
{
	padding:410px 0 46px 12px;
}

.catalog  #circle-bg
{
	background:#E01881;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.catalog  #circle-bg .circle
{
	background:#1c1b19;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.catalog  #why h1,
.catalog  #why p
{
	color:#ffffff;
}

.catalog  #why h1
{
	margin:0 0 22px;
}

.catalog  #why p
{
	font-size:33px;
	font-weight:bold;
}

.catalog  #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.catalog  #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.catalog .puppy
{
    background: url("../images/category/catalog/poodle.png") repeat scroll 0 0 transparent;
    display: block;
    height: 294px;
    left: 540px;
    position: absolute;
    top: 500px;
    width: 452px;
    z-index: 0;
}


.category-three #wand
{
	background: url(../images/category/hardwax/wax-wand.jpg) 0 0;
	display:block;
	height:313px;
	left:0px;
	position:absolute;
	top:620px;
	width:556px;
	z-index:0;
}

.category-three #why
{
	padding:440px 0 46px 555px;
}

.category-three #circle-bg
{
	background:#1c1b19;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.category-three #circle-bg .circle
{
	background:#E01881;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.category-three #why h1,
.category-three #why p
{
	color:#ffffff;
}

.category-three #why h1
{
	margin:0 0 22px;
}

.category-three #why p
{
	font-size:33px;
	font-weight:bold;
}

.category-three #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.category-three #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.category-three #product-22{left:13px;top:93px;}
.category-three #product-22 .title{bottom:-13px;left:32px;}
.category-three #product-22 .tell-more{left: 182px;top: -45px;}
.category-three #product-21{left: 200px;top: 460px; z-index:2;}
.category-three #product-21 .tell-more{left: -90px;top: 0px;}
.category-three #product-21 .title{bottom:-2px;left:22px;}
.category-three #product-20{left:350px;top:65px;}
.category-three #product-20 .title{top:0px;left:43px;}
.category-three #product-20 .tell-more{right: -15px;bottom: -45px;}
.category-three #product-19{left:398px;top:85px;}
.category-three #product-19 .title{bottom:-10px;left:20px}
.category-three #product-19 .tell-more{left: 155px;top: -35px;}
.category-three #product-2806{left:718px;top:-5px;}
.category-three #product-2806 .title{bottom:-10px;left:20px}
.category-three #product-2806 .tell-more{left: -35px;top: 185px;}


.category-four
{
	background:url(../images/category/prepost/image.jpg) no-repeat right bottom;
	width:1019px;	
}

.category-four #why
{
	padding:1250px 0 136px 540px;
}

.category-four #circle-bg
{
	background:#E01881;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.category-four #circle-bg .circle
{
	background:#1c1b19;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.category-four #why h1,
.category-four #why p
{
	color:#ffffff;
}

.category-four #why h1
{
	margin:0 0 22px;
}

.category-four #why p
{
	font-size:33px;
	font-weight:bold;
}

.category-four #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.category-four #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.category-four #product-11{left:314px;top:65px;}
.category-four #product-11 .title{bottom: 569px;left:20px;}
.category-four #product-11 .tell-more{right: -65px;top: 195px;}
.category-four #product-8{left: 256px;top: 690px;}
.category-four #product-8 .tell-more{right: -76px;top: 300px;}
.category-four #product-8 .title{left: 25px;  bottom: 482px;width: 200px;}

.category-four #product-10{left:628px;top:65px;}
.category-four #product-10 .title{bottom:-16px;left:20px}
.category-four #product-10 .tell-more{left: 170px;top: 155px;}

.category-four #product-9{left:13px;top:663px;}
.category-four #product-9 .title{bottom: -16px;left: 20px;}
.category-four #product-9 .tell-more{left: 112px;top: 75px;}
.category-four #product-12{left:13px;top:63px;}
.category-four #product-12 .title{bottom:-14px;left:20px;}
.category-four #product-12 .tell-more{left: -6px;top: 55px;}
.category-four #product-2747{left:503px; top:683px;}
.category-four #product-2747 .title{ left: 260px; bottom: 134px;}
.category-four #product-2747 .title h3{width:240px;}
.category-four #product-2747 .tell-more{left: 114px; top: 155px;}

.category-four #product-2817{left:120px;top:1205px;}
.category-four #product-2817 .title{bottom:-4px;left:29px}
.category-four #product-2817 .tell-more{left: 170px;top: 155px;}


.category-five #why
{
	padding:426px 0 46px;
}

.category-five #circle-bg
{
	background:#E01881;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.category-five #circle-bg .circle
{
	background:#1c1b19;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.category-five #why h1,
.category-five #why p
{
	color:#ffffff;
}

.category-five #why h1
{
	margin:0 0 22px;
}

.category-five #why p
{
	font-size:33px;
	font-weight:bold;
}

.category-five #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.category-five #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.category-five #product-18{left:14px;top:65px;}
.category-five #product-18 .title{top:3px;left:60px;}
.category-five #product-18 .tell-more{right: -15px; top: 65px;}
.category-five #product-17{left: 435px;top: 460px;}
.category-five #product-17 .tell-more{right: -50px;top: 160px;}
.category-five #product-17 .title{bottom:-16px;left:30px;}
.category-five #product-16{left:628px;top:115px;}
.category-five #product-16 .title{bottom:-16px;left:20px}
.category-five #product-16 .tell-more{left: 140px;top: -75px;}
.category-five #product-15{left:403px;top:93px;}
.category-five #product-15 .title{bottom:4px;left:20px;}
.category-five #product-15 .tell-more{left: -8px;top: -45px;}

.category-five #wand
{
	background:url(../images/category/stripwax/wax-wand.png) no-repeat 0 0;
	display:block;
	height:279px;
	left:532px;
	position:absolute;
	top:41px;
	width:174px;
	z-index:99;
}

#dragon
{
	background:url(../images/category/stripwax/dragon.png) no-repeat 0 0;
    bottom: 50px;
    display: block;
    height: 354px;
    position: absolute;
    right: -100px;
    width: 363px;
}

.category-six #why
{
	padding:67px 0 400px;
}

.category-six #circle-bg
{
	background:#E01881;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.category-six #circle-bg .circle
{
	background:#1c1b19;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.category-six #why h1,
.category-six #why p
{
	color:#ffffff;
}

.category-six #why h1
{
	margin:0 0 22px;
}

.category-six #why p
{
	font-size:33px;
	font-weight:bold;
}

.category-six #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.category-six #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.category-six #product-14{left:533px;top:65px;}
.category-six #product-14 .title{top:515px;left:204px;}
.category-six #product-14 .tell-more{left: -75px;top: 155px;}
.category-six #product-13{left: 50px;top: 460px;}
.category-six #product-13 .tell-more{right: 233px;top: 260px;z-index: 99;}
.category-six #product-13 .title{top:80px;left:20px;}

.category-six #skid
{
    background: url("../images/category/strips/skid.png") no-repeat scroll left bottom transparent;
    bottom: -22px;
    height: 296px;
	left:-15px;
    position: absolute;
    width: 568px;
    z-index: 1;
}

.category-seven #why
{
	padding:107px 0 60px 400px;
}

.category-seven #circle-bg
{
	background:#E01881;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.category-seven #circle-bg .circle
{
	background:#1c1b19;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.category-seven #why h1,
.category-seven #why p
{
	color:#ffffff;
}

.category-seven #why h1
{
	margin:0 0 22px;
}

.category-seven #why p
{
	font-size:33px;
	font-weight:bold;
}

.category-seven #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.category-seven #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.category-seven #product-2758{left: 73px; top: 65px;}
.category-seven #product-2758 .title{ left: 74px; top: 255px;}
.category-seven #product-2758 .tell-more{left: -75px;top: 155px;}

.category-seven #skid
{
    background: url("../images/category/strips/skid.png") no-repeat scroll left bottom transparent;
    bottom: -22px;
    height: 296px;
	left:-15px;
    position: absolute;
    width: 568px;
    z-index: 1;
}


.category-eight #why
{
	padding:107px 0 60px 400px;
}

.category-eight #circle-bg
{
	background:#E01881;
	height:345px;
	padding:40px;
	position:relative;
	width:345px;
}

.category-eight #circle-bg .circle
{
	background:#1c1b19;
	height:365px;
	text-align:center;
	left:-5px;
	padding:30px 40px;
	position:absolute;
	top:-5px;
	width:345px;
}

.category-eight #why h1,
.category-eight #why p
{
	color:#ffffff;
}

.category-eight #why h1
{
	margin:0 0 22px;
}

.category-eight #why p
{
	font-size:33px;
	font-weight:bold;
}

.category-eight #why h1 .akzidenz
{
	border-bottom:3px solid #ffffff;
	font-size:52px;
	text-transform:uppercase;
}

.category-eight #why h1 .hoefler
{
	border-bottom:3px solid #ffffff;
	display:inline;
	font-size:46px;
}

.category-eight #product-2764{left: 73px; top: 65px;}
.category-eight #product-2764 .title{left: 4px; top: 305px;}
.category-eight #product-2764 .tell-more{ left: -25px;top: 25px;}

.category-eight #product-2819{left: 73px; top: 65px;}
.category-eight #product-2819 .title{left: 74px; top: 365px;}
.category-eight #product-2819 .tell-more{ left: -25px;top: 25px;}

.category-eight #product-2820{left: 380px; top: 80px;}
.category-eight #product-2820 .title{left: 163px; top: 3px;}
.category-eight #product-2820 .tell-more{ left: 220px;top: 220px;}


.category-eight #skid
{
    background: url("../images/category/strips/skid.png") no-repeat scroll left bottom transparent;
    bottom: -22px;
    height: 296px;
	left:-15px;
    position: absolute;
    width: 568px;
    z-index: 1;
}

--*/


/*--Zoom----------------------------------------------------------------*/


.cloud-zoom-lens 
{
	background-color:#fff;	
	border: 4px solid #888;
	cursor:move;		
	margin:-4px;
}

.cloud-zoom-title 
{
	background-color:#000;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding:3px;
	position:absolute !important;
	text-align:center;	
	top:0px;
	width:100%;
}

.cloud-zoom-big 
{
	border:4px solid #ccc;
	overflow:hidden;
	width:400px !important;
}

.cloud-zoom-loading 
{
	background:#222;
	border:1px solid #000;
	color:white;	
	padding:3px;
}




/*-----------------------------------------------------------------------
Checkout
------------------------------------------------------------------------*/
.login-btn
{
	margin:10px 0 10px 4px;
}

/*--Cart----------------------------------------------------------------*/

#cart 
{
	padding:20px 0;
}

#cart h2
{
	border-bottom:2px dotted #E01881;
	color:#1C1B19;
	font-size:25px;
	padding:0 0 10px;
	margin:10px 0 20px;
	text-transform:uppercase;
}

#cart table
{
	width:100%;
}

#cart table th
{
	color:#333333;
	font-size:22px;
	text-transform:uppercase;
}

#cart table th,
#cart table td
{
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:left;
	vertical-align:middle;
	padding:10px 0 0;
}

#cart .cart input
{
	border:1px solid #dddddd;
	padding:3px;
}

#cart table td
{
	font-size:14px;
}

#cart .totals
{
	margin:20px 0;
}

#cart .totals select
{
	margin:10px 0 0;
	padding:5px;
}

#cart .remove
{
	background:url(../images/sprite-transparent.png) no-repeat -854px -37px;
	cursor:pointer;
	height:16px;
	text-indent:-9999px;
	width:16px;
}


#cart .remove:hover
{
	background-position:-854px -21px;
}

#cart .cart-image
{
	border:1px solid #ededed;
	height:48px;
	padding:3px;
	text-align:center;
	width:48px;
}

#cart .cart-title
{
	width:174px;
	line-height:20px;
	margin:0 0 0 10px;
}

#cart .cart-buttons
{
    float: right;
    padding: 40px 0 0;
    text-align: right;
    width: 444px;
}

#cart .cart-buttons .form-button
{
	margin:0 20px 0 0;
}

#cart .cart-buttons .float-right
{
	margin:0 0 0 20px;
}

.registerat_text-container
{
	width:100%;
}

.sreg-form-error,
#errors
{
	background:#ffe6f3;
	border:1px solid #E01881;
	color:#E01881 !important;
	font-weight:bold;
	padding:5px;
	text-align:center;
	width:100%;
}

.thanks th
{
	color:#E10981;
	text-align: left;
	text-transform:uppercase;
}

.thanks tr
{
	line-height:30px;	
}

.thanks .labels
{
	font-size:12px;	
}

#checkout h3,
#register h3,
#contact h3
{
	border-bottom:2px dotted #E01881;
	color:#1C1B19;
	font-size:25px;
	padding:0 0 10px;
	margin:10px 0 20px;
	text-transform:uppercase;
}

#checkout label,
#register label,
#contact label
{
	display:block;
	font-size:12px;
	margin:0 0 3px;
}

#checkout input,
#register input
{
	border:1px solid #999999;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	padding:5px;
	width:303px;
}

#contact input
{
	border:1px solid #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px;
	width:280px;
}

#contact textarea
{
	border:1px solid #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px;
	height:150px;
	width:100%;
}


.form input
{
	background:#ffffff;
	border:1px solid #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:12px;
	padding:10px;
    margin: 0 10px 0 0;
	top:3px;
    width: 140px;
}

#checkout select,
#register select
{
	padding:4px;
	width:123px;
}

#checkout #same-shipping,
#checkout #marketing
{
	width:30px;
}

#checkout #billing-state-menu,
#checkout #shipping-state-menu
{
	margin:0 10px 0 0;
}

#checkout #billing-state,
#checkout #shipping-state
{
	width:170px;
}


#checkout .left-form,
#register .left-form
{
	float:left;
	padding:0 0 10px;
	width:315px;
}

#checkout .right-form,
#register .right-form
{
	float:right;
	padding:0 0 10px;
	width:315px;
}

#contact  .left-form
{
	float:left;
	padding:0 0 10px;
	width:280px;
}

#contact  .right-form
{
	float:right;
	padding:0 0 10px;
	width:280px;
}

#checkout .checkboxes,
#register .checkboxes
{
	padding:10px 0 20px;
}

#register .checkboxes input
{
	float:left;
	margin:0 10px 0 0;
	width:auto !important;
}

.sameaddress
{
	width:auto !important;
}

#register .checkboxes label
{
	float:left;
}

#checkout #billing-cardexpires-mm,
#checkout #billing-cardexpires-yy
{
	float:left;
	margin:0 10px 0 0;
	width:100px;
}

#register .form-button
{
	margin:10px 0 0 4px;
}

/*--register-------------------------------------*/

.asterix
{
	color:#E01881;
	display:inline;
		
}

/*--captcha--------------------------------------*/

#captcha
{
	border-top:2px dotted #E01881;
	margin:30px 0 0;
}

#captcha #ccontainer
{
	border:1px solid #999;
	margin:20px 0;
	padding:5px;
	width:150px;
}

#ccopy
{
	font-size:12px;
	margin:32px 0 0 20px;
}

#captcha img
{
	float:left;
	padding:2px 0 0;	
}

#captcha input
{
	float:left;
	width:66px;
}

/*--free wax------------------------------------------------*/

#generate,
#upcoming,
#kill
{
	width:auto !important;	
}

.tnc
{
	margin:10px 0 0;	
}

label.tnc-label
{
	font-size:11px;
	line-height:16px;
	padding:3px 0 0 10px;
	width:620px;	
}

#free-wax .heading
{
    border-bottom: 2px dotted #E01881;
    color: #1C1B19;
    font-size: 25px;
    margin: 10px 0 20px;
    padding: 0 0 10px;
    text-transform: uppercase;
}

#free-wax select
{
	width:315px;
}

#free-wax h3
{
	border:none;
	padding:10px 0 0;
	width:100%;	
}

#free-wax h3 span
{
	float:left;
}

#free-wax h3 span.clear
{
	display:block;
}

#free-wax h3 span.smaller
{
	font-size:18px;	
	margin:5px 0 0 10px;
}

/*-----------------------------------------------------------------------
Blog
------------------------------------------------------------------------*/

#subpage-container #left-column .pager
{
    border-bottom: 2px dotted #E01881;
    border-top: 2px dotted #E01881;
	margin:20px 0;
}

#subpage-container #left-column .pager ul
{
	height:40px;	
}

#subpage-container #left-column .pager li
{
	clear:none;
	list-style:none !important;
	padding:10px 0;
	font-size:11px !important;
}

#blog-lists li h3
{
	border-bottom:2px solid #E01881;
	color:#E01881;
	display:inline;
    font-size: 25px;
    text-transform: uppercase;
	padding:0 0 3px;
}

#blog-lists li ul
{
	margin:15px 0;	
}

#blog-lists li ul li
{
	line-height:20px;
}	

#blog-lists li a
{
    color: #1C1B19;
	text-decoration:none;
}

#blog-lists li a:hover
{
	text-decoration:underline;
}

.blog-content
{
	padding:30px 0;	
}

.section-image
{
	margin:10px 0;	
}

.section-image img
{
	width:600px;	
}


/*-----------------------------------------------------------------------
Navigation
------------------------------------------------------------------------*/

/*--Main----------------------------------------------------------------*/

#navigation-bar
{
	background:url(../images/sprite-solid.jpg) 0 -310px no-repeat;
    display: block;
    height: 45px;
	left:0;
	overflow:hidden;
    position: absolute;
    width: 39%;
}

.page-child #navigation-bar
{
	background:url(../images/background-menu.gif) right top;
    display: block;
    height: 90px;
	left:0;
	overflow:hidden;
    position: absolute;
    width: 39%;
}

.page-parent #navigation-bar
{
	background:url(../images/background-menu.gif) right top;
    display: block;
    height: 90px;
	left:0;
	overflow:hidden;
    position: absolute;
    width: 39%;
}


.page-id-0 #navigation-bar,
.parent-pageid-2705 #navigation-bar
{
	height:45px;
	overflow:hidden;	
}

#navigation-container
{
	background:#1c1b19;
	float:left;
}

#navigation-main
{
	background:url("../images/sprite-solid.jpg") no-repeat scroll -191px 0 transparent;
	padding:0 7px 0 0;
	height:45px;
}

#navigation-main > ul
{
	background:url(../images/sprite-solid.jpg) 0 -310px no-repeat;
	height:45px;
}

#navigation-main li
{
	float:left;
	height:45px;
	margin:0 12px 0;
}

#navigation-main li a
{
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	height:45px;
	letter-spacing:2px;
	line-height:43px;
	text-decoration:none;
	text-transform:uppercase;
}

#navigation-main li li a
{
	display:inline;
}

#navigation-main li a:hover,
#navigation-main li a.select
{
	color:#e01881;
}

/*--Drop Menu---------------------------------------------------------*/

.search-results .slide-container
{
	display:none;
}

.search .product-menu
{
	display:block;
}

#navigation-main .slide-container
{
	background:#e01881;
	height:0;
	left:0;
	overflow:hidden;
	position:absolute;
	top:45px;
	width:auto;
	z-index:999;
}

.page-id-11 #navigation-main .slide-container
{
	height:45px;
}

.parent-pageid-11 #navigation-main .slide-container
{
	height:45px;
}

.parent-pageid-11 #navigation-bar,
{
	height:90px;
}

#navigation-main .slide-padding
{
	padding:4px 4px 4px 0;
}

#navigation-main .slide-menu
{
	background:#e01881;
	border-bottom:2px solid #f4c9d9;
	border-right:2px solid #f4c9d9;
	border-top:2px solid #f4c9d9;
	display:block;
	height:33px;
}

#navigation-main li ul
{
	float:right;
	width:100%;
}

#navigation-main li ul.menu
{
	min-width:400px
}

#navigation-main li li a
{
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	line-height:30px;
	text-decoration:none;
	text-transform:uppercase;
}

#navigation-main li li a:hover
{
	color:#1c1b19;
}

/*--Dropdown-menu-------------------------------------------------------*/

.menu, .menu * 
{
	margin:0;
	padding:0;
	list-style:none;
}

.menu 
{
	line-height:1.0;
}

.menu ul 
{
	position:absolute;
	top:-999em;
	width:300px !important; 
}

.menu ul li 
{
	width:100%;
}

.menu li:hover 
{
	visibility:inherit; 
}

.menu li 
{
	float:left;
	position:relative;
}

.menu a 
{
	display:block;
	position:relative;
}

.menu li:hover ul,
.menu li.sfHover ul 
{
	background:#1c1b19;
	border-left:4px solid #1c1b19;
	border-bottom:4px solid #1c1b19;
	border-right:4px solid #1c1b19;
	left:0;
	top:39px; 
	z-index:99;
}

#navigation-main li li li
{
	border-left:1px solid #8d8d8c;
	border-right:1px solid #8d8d8c;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	float:none;
	font-size:12px;
	height:auto !important;
	line-height:20px;
	margin:0 !important;
	padding:5px;
	width:288px;
}

#navigation-main li li li.end
{
	border-bottom:1px solid #8d8d8c;
	padding:5px 5px 15px;
}

#navigation-main li li li a
{
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: none;
}

#navigation-main li li li a:hover
{
	color:#e01881;
}


/*--Cart Menu-----------------------------------------------------------*/

#country-switcher
{
	border-bottom:2px solid #000000;
	float:right;
	text-transform:uppercase;
	font-size:19px;
	margin:18px 0 3px;
}

#site-functions
{
	width:294px;
}

#site-cart
{
	clear:both;
	text-align:right;
}

#site-cart a
{
	color:#000000;
	text-decoration:none;
}

#site-cart p a
{
    background: url("../images/sprite-transparent.png") no-repeat scroll -850px -83px transparent;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 17px;
    margin: 0 0 5px 10px;
    padding: 5px 0 5px 29px;
    text-transform: uppercase;
}

#site-cart p a
{
	border:none;
	color:#e01881;
}

#cart-menu
{
	margin:6px 0 0;	
}

#cart-menu li
{
	float:left;
	font-size:15px;
	font-weight:bold;
	letter-spacing:1px;
	margin:0 0 0 7px;
	text-transform:uppercase;
}

#cart-menu li a:hover
{
	border-bottom:none;
	text-decoration:none;
}

/*--Search--------------------------------------------------------------*/

#site-search
{
	margin:18px 0 0;
	width:300px;
}

#site-search input
{
	background:#f2f2f2;
	border-left:2px solid #acacac;
	border-top:2px solid #acacac;
	color:#DD0077;
	float:left;
	font-size:12px;
	height:16px;
	padding:5px;
	width:179px;
}

#site-search button
{
	background:url(../images/sprite-transparent.png) no-repeat -662px -722px;
	cursor:pointer;
	display:block;
	float:left;
	height:22px;
	margin:3px 0 0 10px;
	text-indent:-9999px;
	width:86px;
}


/*--Footer--------------------------------------------------------------*/

#navigation-footer
{
	background:#1c1b19 url(../images/footer-pattern.gif) repeat-x;
	border-bottom:5px solid #e01881;
	height:27px;
	position:relative;
	top:22px;
}

#navigation-footer .wrapper
{
	position:relative;
}

#navigation-footer li
{
	float:left;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	line-height:27px;
	margin:0 10px 0 0;
	text-transform:uppercase;
}

#navigation-footer li a
{
	color:#ffffff;
	text-decoration:none;
}

#footer-menu li a:hover
{
	color:#e01881
}

/*-----------------------------------------------------------------------
Buttons
------------------------------------------------------------------------*/


/*--Misc----------------------------------------------------------------*/

.addtocart
{
	color:#ffffff;
	text-transform:uppercase;
}

/*--Form Button---------------------------------------------------------*/

.form-button
{
	background:#e01881;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.form-button:hover
{
	background:#1c1b19;
}

.form-button button
{
	background:#1c1b19;
	color:#ffffff;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
	top:-3px;
}

.form-button:hover button
{
	background:#e01881;
	cursor:pointer;
}

/*--Blue Button---------------------------------------------------------*/

.button-rect-blue
{
	background:#8CBAC1;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-blue:hover
{
	background:#1c1b19;
}

.button-rect-blue a
{
	background:#1c1b19;
	color:#ffffff !important;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-blue:hover a
{
	background:#8CBAC1;
	color:#ffffff !important;
}

/*--Light Button---------------------------------------------------------*/

.button-rect-lightblue
{
	background:#b3d8db;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-lightblue:hover
{
	background:#1c1b19;
}

.button-rect-lightblue a
{
	background:#1c1b19;
	color:#ffffff !important;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-lightblue:hover a
{
	background:#b3d8db;
	color:#ffffff !important;
}

/*--Pink Button---------------------------------------------------------*/

.button-rect-pink
{
	background:#e01881;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-pink:hover
{
	background:#1c1b19;
}

.button-rect-pink a
{
	background:#1c1b19;
	color:#ffffff !important;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-pink:hover a
{
	background:#e01881;
	color:#ffffff !important;
}

/*--Pink White Button---------------------------------------------------------*/

.button-rect-pinkwhite
{
	background:#e01881;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-pinkwhite:hover
{
	background:#1c1b19;
}

.button-rect-pinkwhite a
{
	background:#ffffff;
	color:#e01881 !important;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-pinkwhite:hover a
{
	background:#e01881;
	color:#ffffff !important;
}


/*--White Button------------------------------------------------------*/

.button-rect-white
{
	background:#ffffff;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-white:hover
{
	background:#1c1b19;
}

.button-rect-white a
{
	background:#1c1b19;
	color:#ffffff;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-white:hover a
{
	background:#ffffff;
	color:#1c1b19;
}

/*--Purple Button------------------------------------------------------*/

.button-rect-purple
{
	background:#7a3485;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-purple:hover
{
	background:#1c1b19;
}

.button-rect-purple a
{
	background:#1c1b19;
	color:#ffffff;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-purple:hover a
{
	background:#7a3485;
	color:#ffffff;
}

/*--Green Button------------------------------------------------------*/

.button-rect-green
{
	background:#7e821c;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-green:hover
{
	background:#1c1b19;
}

.button-rect-green a
{
	background:#1c1b19;
	color:#ffffff;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-green:hover a
{
	background:#7e821c;
	color:#ffffff;
}

/*--Black Button--------------------------------------------------------*/

.button-rect-black
{
	background:#1c1b19;
	float:left;
	font-size:17px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
}

.button-rect-black:hover
{
	background:#e01881;
}

.button-rect-black a
{
	background:#e01881;
	color:#ffffff !important;
	display:block;
	height:34px;
	left:-3px;
	line-height:34px;
	padding:0 7px;
	position:relative;
	text-decoration:none;
	top:-3px;
}

.button-rect-black:hover a
{
	background:#1c1b19;
	color:#ffffff !important;
}

.payoption-paypal
{
	display:none;	
}

/*--promocode--*/

#subpage-container #left-column #promocode-container #promocode
{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #999;
	font-size:14px;
	color:#E01881;
	padding:7px;
	height:20px;
	margin:0 10px 0 0;
	width:150px;
	
}

#subpage-container #left-column #promocode-container h2
{
	float:none;
	font-size:28px;
	width:300px;
}

#subpage-container #promocode-container #apply-code
{
    background: none repeat scroll 0 0 #E01881;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 134px;
}

#subpage-container #promocode-container #apply-code:hover
{
	background:#1C1B19;
}

/*--waxxxselector--------------------------------------*/


#waxxxselector h3
{
	border-bottom:2px dotted #E01881;
	clear: both;
	color:#1C1B19;
	font-size:25px;
	padding:0 0 10px;
	margin:10px 0 20px;
	text-transform:uppercase;
}

#final-select div
{
	display:none;
	float:left;
	width: 133px;
	height: 133px;
	margin: 0 10px 10px 0;
}

/*-------------------------------------------------------------------------------
Fancybox
--------------------------------------------------------------------------------*/

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../images/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('../images/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../images/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../images/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('../images/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat;
}

